h1, form{
  text-align: center;
}
table {
  background-color: white;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

#outputBody{
  word-break: break-word;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

h2, li{
    color: white;
}

#txtInputArea{
   resize: none;
}