html, body {
    margin: 0;
  
}


h1, li{
    color: white;
}

table {
  background-color: white;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

h2, form{
  text-align: center;
}

h2, li{
    color: white;
}
