<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Postagens</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/tarefas}">Tarefas</a>
        <a th:href="@{/albuns}">Albuns</a>
        <br><br>
        <h1>Postagens</h1>
        
        <form th:action="@{/posts}" th:object="${posts}" method="post">
            <input type="text" name="title" th:field="${postagens.title}" placeholder="Titulo:">
            <br><br>
            <textarea name="body" rows="10" cols="30" placeholder="Corpo da postagem"></textarea>
            <br><br>
            <input type="submit" value="Publicar">
        </form>
        
        <br><br><br>
        <table>
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Texto</th>
        </tr>
        <tr th:each="postagens : ${allPostagens}">
            <td th:text="${postagens.id}"> </td>
            <td th:text="${postagens.title}"> </td>
            <td th:text="${postagens.body}"> </td>
        </tr>
    </table>
        
    </body>
</html>
