<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
    <head>
        <title>TO-DO's</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="globalsStyle.css">
        <link rel="stylesheet" type="text/css" href="TarefasStyle.css">
    </head>
    <body>
        
        <div class="bg">
            <nav class="barra-navegacao">
                <ul>
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/posts}">Postagens</a></li>
                    <li><a th:href="@{/albuns}">Albuns</a></li>
                </ul>    
            </nav>      
        </div>
        
        <h2>Adicionar Tarefa:</h2>
        <br><br>
        <form th:action="@{/tarefas}" th:object="${tarefas}" method="post">
            <input class="txtInput" type="text"  name="title" placeholder="Nome Tarefa:"/>
            <br><br>
            <input class="btn" type="Submit" value="Adicionar">
            <div class="alerta" th:if="${message}" th:text="${message}" />
        </form>
        
        <br><br>
        
        <table>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Status</th>
                <th>T or F</th>
            </tr>
            <form>
                <tr th:each="tarefas : ${allTarefas}">
                    <td th:text="${tarefas.id}"></td>
                    <td th:text="${tarefas.title}"> </td>
                    <td><input type="checkbox" style="cursor:pointer" th:checked="${tarefas.completed}"> </td>               
                    <td th:text="${tarefas.completed}">
                </tr>
            </form>
        </table>
        
    </body>
</html>
